# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Arquivos de ambiente
.env

# Pastas de libs (caso estejam na raiz por engano)
babel/
certifi/
cryptography-*.dist-info/
installer/
jaraco/
mysql/
tcl/
tk/
tcl8/
.pyupdater/
main.spec