# Cache do Python
__pycache__/
*.py[cod]

# Ambiente virtual
.venv/
.venv310

# Arquivos de log
*.log

# Arquivos da IDE PyCharm
.idea/

# Banco gerado local (se houver)
*.db

# Dados sensíveis
*.env

ultimo.usuario.json
/dist/
/build/
/pyu-data/
github_token.txt
