# Arquivo .gitignore (Versão Revisada e Corrigida)

# Ambientes Virtuais
/.venv
/.venv310
/venv/
__pycache__/

# Arquivos de Cache e Compilados do Python
*.py[cod]
*$py.class

# Arquivos de Configuração de IDEs e Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de Teste
.pytest_cache/
.coverage

# Arquivos de Build (PyInstaller) - O .spec NÃO é ignorado
/dist/
/build/

# Arquivos de Update (PyUpdater)
.pyupdater/

# Arquivos Gerados Localmente
*.log
*.sqlite3
ultimo_usuario.json
estrutura_projeto.txt

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos Sensíveis (NUNCA DEVEM IR PARA O GITHUB)
.env